<div class="row row-runs">
  <h2 class="heading">My Runs</h2>
  <hr />
  <div class="summary">
    You've logged
    <p class="totals">{{ totalDistance }}</p>
    total km over
    <p class="totals">{{ totalActivities }}</p>
    runs since
    <p class="totals">{{ firstDate | date: 'longDate'}}</p>
  </div>
  <hr />
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Comments</th>
        <th>Date</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activity of activities">
        <td>
          <a [routerLink] ="['/run', activity.id]">
            {{ activity.name }}
          </a>
        </td>
        <td>{{ activity.comments }}</td>
        <td>{{ activity.date | date:"dd-MM-yyyy"}}</td>
        <td>{{ activity.distance }}</td>
      </tr>
    </tbody>
  </table>
</div>
