<div class="container">
  <nav id ="" class="navbar navbar-custom">
    <a class="navbar-brand" href="#"><p class="logo">{{ title }}</p></a>
  </nav>
  <div class="container">
    <!-- <app-activity-list></app-activity-list> -->

    <router-outlet>
    </router-outlet>
  </div>
</div>
